venv/
__pycache__/
*.pyc
.idea/
.DS_Store
poetry.lock
**/.ipynb_checkpoints/*
data
.venv/
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
**/*.log
TODO
**/models/*
**/.env
curl.txt
curl.zip
data-to-label
site
**/annotations.csv
**/scratch.py
.vscode
global-bundle.pem
lf-mets-35k-keywords-clindoc/
mets-longformer-4k-pycedars
cedars/dump.rdb
**//xl.meta
**//xl.meta.bkp
cedars/start/.minio.sys/format.json
cedars/start/.minio.sys/tmp/6dd14c07-9329-47f9-ae1f-9d560e6c630e
.python-version