{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<div class="container-md col-4">
  <form action="login" class="form-inline" method="POST">

    <div class="p-5">
      <h2>User Login</h2>
      <div class="mb-3">
        <label>Enter Your username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="mb-3">
        <label>Enter Your password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


{% if show_invalid_login is defined %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <div class="modal fade" id="invalidLoginModal" tabindex="-1"aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invalid Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Invalid User Login!
          <br>
          If you are having trouble logger in contact your administrator and confirm that this username has permission to access this project.
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

<script>

$(window).on('load', function() {
        $('#invalidLoginModal').modal('show');
    });
</script>
{% endif %}

<script>
  window.addEventListener("message", (event) => {
  const data = JSON.parse(event.data);
  console.log("Received token:", data.access_token);
  
  // Send the token to the backend
  fetch('/auth/token-login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ token: data.access_token , user_id: data.id }),
  })
  .then(response => response.json())
  .then(data => {
    if (data.message) {
      console.log('Login successful:', data.message);
      // Redirect to the main page or update UI as needed
      window.location.href = '/';
    } else {
      console.error('Login failed:', data.error);
      // Handle login failure (e.g., show an error message)
    }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
</script>

{% endblock %}
