# # this is a sample env file please update and rename to .env in CEDARS/cedars folder
# SECRET_KEY=asecurekey
# HOST=0.0.0.0
# DB_HOST=db
# DB_NAME=cedars
# DB_PORT=27017
# DB_HOST_PORT=27018
# DB_USER=admin
# DB_PWD=password
# DB_PARAMS="authSource=admin"
# MINIO_HOST=minio
# MINIO_PORT=9000
# MINIO_ACCESS_KEY=rootuser
# MINIO_SECRET_KEY=rootpassword
# ENV=dev
# PINES_API_URL=http://pines:8036
# REDIS_URL=redis
# REDIS_PORT=6379
# RQ_DASHBOARD_URL=/rq
# # SUPERBIO_API_URL=https://test.superbio.ai:446/api


# The following is used in the local dev environment
SECRET_KEY=cedars
HOST=0.0.0.0
PORT=5001
DB_PROTOCOL=mongodb
# Route 53 connection string example: mongodb+srv://<username>:<password>@rs1.mongodb.dev.aws.mskcc.org/<dbname>?retryWrites=true&w=majority
# DB_PROTOCOL=mongodb+srv
DB_HOST=localhost
# DB_REPLICA_SET="tlvdbmg1.mskcc.org:27017,tlvdbmg2.mskcc.org:27017,tlvdbmg3.mskcc.org:27017"
# DB_REPLICA_SET=rs1.mongodb.dev.aws.mskcc.org
DB_NAME=cedars
# DB_NAME=admin
DB_PORT=27017
DB_USER=admin
# DB_USER=res_MIS_cedars_dev
DB_PWD=password
# DB_PWD=
# DB_PARAMS="authSource=admin&tls=true&tlsCAFile=global-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false"
DB_PARAMS="authSource=admin&retryWrites=false"
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=rootuser
MINIO_SECRET_KEY=rootpassword
ENV=dev
PINES_API_URL=http://localhost:8036
REDIS_URL=localhost
REDIS_PORT=6379
REDIS_PROTOCOL=redis
S3_BUCKET="CEDARS-DEFAULT-BUCKET"
S3_ENDPOINT_URL=http://minio:9000
RQ_DASHBOARD_URL=/rq
OIDC_REDIRECT_URI=https://localhost:5001/callback
OIDC_POST_LOGOUT_REDIRECT_URI=https://localhost:5001/
OIDC_ISSUER_ROOT_URL=https://ssofedqa.mskcc.org
# OIDC_CLIENT_ID=cedars_test
# OIDC_CLIENT_SECRET=
# GROUP_USERS=GRP_TDV_CEDARS_TEST_USERS
# GROUP_ADMIN=GRP_TDV_CEDARS_TEST_ADMIN
# OIDC_CLIENT_ID=cedars_ischemicstroke_test
# OIDC_CLIENT_SECRET=
# GROUP_USERS=GRP_TDV_CEDARS_ISCHEMICSTROKE_TEST_USERS
# GROUP_ADMIN=GRP_TDV_CEDARS_ISCHEMICSTROKE_TEST_ADMIN
OIDC_CLIENT_ID=cedars_impactvte_test
OIDC_CLIENT_SECRET=
GROUP_USERS=GRP_TDV_CEDARS_IMPACTVTE_TEST_USERS
GROUP_ADMIN=GRP_TDV_CEDARS_IMPACTVTE_TEST_ADMIN
CHUNK_SIZE_INSERT_NOTES=2000
CHUNK_SIZE_UPSERT_PATIENTS=2000