{% extends "bootstrap.html" %}

{% block container %}

    <nav class="navbar navbar-light bg-light mb-5 nav-tabs d-flex">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='msk-logo.svg') }}" alt="" width="24" height="24"
                     class="d-inline-block align-text-top">
                CEDARS
            </a>
            <div class="flex-fill mx-5">
                <form class="d-flex" action="#" method="post">
                    <input type="search" class="form-control"
                           placeholder="Enter query"
                           aria-label="Search" name="query" value="{{ query or '' }}">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </form>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                       aria-expanded="false">{{ session.user.initials }}</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

{% endblock %}