{% extends "bootstrap.html" %}

{% block container %}

<nav class="navbar navbar-light bg-light mb-5  nav-tabs d-flex">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="/">
            <img src="static/proj_logo.png" alt="" width="24" height="24"
                 class="d-inline-block align-text-top">
            CEDARS
        </a>

        <div class="proj_name d-inline-block align-text-top" id="proj_name">
                Project Name : {{ proj_name }}
            
        </div>

        
        {% block search_bar %} {% endblock %}

        {% if user_initials is defined %}
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">
                    
                    {{ user_initials }}
                    
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/">Homepage</a></li>
                        <li><a class="dropdown-item" href="/proj_details">Project Details</a></li>
                        <li><a class="dropdown-item" href="/stats">Project Statistics</a></li>
                        <li><a class="dropdown-item" href="/add_user">Add User</a></li>
                        <li><a class="dropdown-item" href="/upload_data">Upload Data</a></li>
                        <li><a class="dropdown-item" href="/upload_query">Search Query</a></li>
                        <li><a class="dropdown-item" href="/adjudicate_records">Adjudicate Annotations</a></li>
                        <li><a class="dropdown-item" href="download_annotations">Download Annotations</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}


    </div>



</nav>

    {% block content %} {% endblock %}

    <div class="position-fixed" style="bottom: 0; right: 0">
        <div class="d-flex flex-column align-items-end m-4">
            <a href="#feedback" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="static/chat-left.svg" alt="" width="32" height="32">
            </a>
            <div class="text-muted" style="width: 80px; font-size: 14px; text-align: end">
                Share your feedback!
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share your feedback</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" novalidate action="/" method="post"
                      enctype=multipart/form-data>
                    <div class="modal-body">
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px" name="content" required></textarea>
                            <label for="floatingTextarea2">Comments</label>
                            <div class="invalid-feedback">
                                Please enter some feedback.
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label">Add a screenshot</label>
                            <div class="input-group">
                                <input type="file" class="form-control" value="Upload" name="screenshot">
                            </div>
                            <div class="form-text">
                                To take a screenshot use (Shift + Command + 4)
                                <a href="https://support.apple.com/en-us/HT201361a" style="text-decoration: none">
                                    on a Mac
                                </a> or (Alt + PrtScn) on Windows 10.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>

        .search_div {
            width: 55%;
        }

        .proj_name {
            font-size: 20px;
        }
    </style>


    <footer>
        <div class="p-5"></div>
    </footer>

{% endblock %}