{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<div class="w-75 mx-auto">
  <form action="/login" class="form-inline" method="POST">

    <div class="mb-4">
      <h2>This form is used to create an administrator for the {{ proj_name }} CEDARS project.</h2>

      <div class="form-group">
        <label>Enter Your username</label>
        <input type="text" class="form-control" name="admin_username">
      </div>

      <br>

      <div class="form-group">
        <label>Enter Your password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <br>
     
      <button type="submit" class="btn btn-primary">Submit</button> 
      
  </form>

  
  
</div>


{% if show_invalid_login is defined %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <div class="modal fade" id="invalidLoginModal" tabindex="-1"aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Invalid User Login!
          <br>
          If you are having trouble logging in contact your administrator and confirm that this username has permission to access this project.
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>
<script>

$(window).on('load', function() {
        $('#invalidLoginModal').modal('show');
    });
</script>

{% endif %}

{% endblock %}
