{% extends "bootstrap.html" %}
{% block title %}Login{% endblock %}

{% block container %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded" style="width: 370px; margin: 250px auto">
        {% if failed %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    Wrong username and/or password
                </div>
            </div>
        {% endif %}

        <h3>CEDARS</h3>
        <form action="" method="post" class="mt-4">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       name="username">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>

{% endblock %}