{% extends "layout.html" %}

{% block title %}
    Clinical Event Detection and Recording System
{% endblock %}

{% block head %}
Clinical Event Detection and Recording System
{% endblock %}


{% block lead %}
    LDAP User Name 
        {{name}}
{% endblock %}

{% block main %}


    <h>
        No Unreviewed Annotations for Patient #{{patient_id}}
        <br>
        <br>
        <a href="/no_remaining_annotations">
            <button>Back to index page</button>
         </a>
    </h>
      

{% endblock %}
