{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<div class="w-75 mx-auto">
  <form action="/proj_details" class="form-inline" method="POST" enctype="multipart/form-data">

    <div class="mb-4">
      <h2>Project Details</h2>

      <div class="form-group">
        <label>CEDARS Version</label>
        <input type="text" class="form-control" value="{{ cedars_version }}" disabled>
      </div>

      <br>

      <div class="form-group">
        <label>Project Name</label>
        <input type="text" class="form-control" name="proj_name" value="{{ proj_name }}">
      </div>

      <br>

      <div class="form-group">
        <label>Upload New Project Logo</label>

        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "proj_logo">
        </div>

        
    <br>
     
      <button type="submit" class="btn btn-primary">Save Changes</button> 
      
  </form>

  
  
</div>

<style>
  .panel-default {
    border-color: #0b0b0b !important;
  }

  #File-selected{
      position: absolute;
      left: 38%;
      top: 54%;
    }
    .holder_default {
        position: absolute;
        
        width:26%;
        height:15.5%;
        border: 3px dashed #ccc;
    }


    #holder.hover {
        position: absolute;
        width:26%;
        height:15.5%;
        border: 3px dashed #0c0 !important;
    }



    .hidden {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }

</style>


{% endblock %}
