{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<div class="w-75 mx-auto">
  <div class="row">
    <div class="col-4">
      <form class="form-inline" action="/" method="POST">
        <div class="mb-4">
          <h2>{{ proj_name }} Statistics</h2>
          <ul class="list-group">
            <li class="list-group-item">Number of Patients in Database: {{ number_of_patients }}</li>
            <li class="list-group-item">Number of Annotated Patients: {{ number_of_annotated_patients }}</li>
            <li class="list-group-item">Number of Patients Reviewed: {{ number_of_reviewed }}</li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-7">
      <div class="mb-4">
        <h6 class="text-muted">Found Sentence</h6>
        <canvas id="number_reviewed_pichart" style="width:100%;max-width:600px"></canvas>

      </div>

      

    </div>
  </div>
</div>

<style>
  #proj_name {
    left : 12.35%;
    position:absolute;
  }

  #search_bar {
    left : 37.8%;
    position:absolute;
    width: 40%;
  }


  .panel-default {
    border-color: #0b0b0b !important;
  }

  mark { 
    
    color: red;
  }

  .save-comment-btn {
    background-color: #007bff; /* Use a primary color for the button */
    color: #ffffff; /* Text color on the button */
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Add a smooth transition on hover */
  }

  .save-comment-btn:disabled {
    opacity: 0.7; /* Reduce the opacity of the button when disabled */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  }

  .save-comment-btn:hover {
    background-color: #0056b3; /* Darken the button color on hover */
  }
</style>

<script>

  const not_in_anno = {{ number_of_patients }} - {{ number_of_annotated_patients }} ;
  const num_reviewed = {{ number_of_reviewed }} ;
  const num_unreviewed = {{ number_of_annotated_patients }} - {{ number_of_reviewed }}

  const data = {
      labels: ['Number of Patients Not in Annotations', 'Number of Reviewed Patients', 'Number of Unreviewed Patients'],
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: ["rgba(0,0,255,1.0)", "rgba(0,255,0,1.0)", "rgba(255,0,0,1.0)"],
        borderColor: "rgba(0,0,0,0.1)",
        data: [not_in_anno, num_reviewed, num_unreviewed]
      }]
    };


  const config = {
  type: 'pie',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Pie Chart'
      }
    }
  },
};
  
  new Chart("number_reviewed_pichart", config);
  </script>
  

{% endblock %}
