{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<div class="w-75 mx-auto">
  <form action="/upload_query" class="form-inline" method="POST">

    <div class="mb-4">
      <h2>Query Upload</h2>

      <div class="form-group">
        <label for="exampleInputEmail1">Search Query</label>
        <input type="text" class="form-control" name="regex_query">
        <small class="form-text text-muted">The query must be in regex format.</small>
      </div>
      <br>
      <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label" name="view_negations">View Negations</label>
        <br>
        <small class="form-text text-muted">Check this if you want to show annotations with negations in them.</small>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label" name="keep_duplicates">Keep duplicates</label>
        <br>
        <small class="form-text text-muted">Check this if you want to keep duplicate annotations.</small>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label" name="skip_after_event">Skip After Event</label>
        <br>
        <small class="form-text text-muted">Check this if you want to ignore all annotations after a previous annotation has been adjudicated.</small>
      </div>

      <br>

      <button type="submit" class="btn btn-primary">Submit</button> 
      
  </form>

  
  
</div>



{% endblock %}
