{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<!-- Create row showing available files and a button to download with file creation time-->
<div class="container-md col-8">
  <div class="row">
    <div class="col-md-12" id="downloadFiles">
      <h2>Available Files</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th>Download</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in files %}
          <tr>
            <td>{{ obj[0] }}</td>
            {% if obj[1] > 1e9 %}
              <td>{{ obj[1] // 1e9 }} GB</td>
            {% elif obj[1] > 1e6 %}
              <td>{{ obj[1] // 1e6 }} MB</td>
            {% elif obj[1] > 1e3 %}
              <td>{{ obj[1] // 1e3 }} KB</td>
            {% else %}
              <td>{{ obj[1] }} B</td>
            {% endif %}
            <td>
              {{ obj[2] }} 
            </td>
            <td>
              <form action="/ops/download_annotations" method="POST" class="form-inline">
                <input type="hidden" name="filename" value="{{ obj[0] }}">
                <button class="btn btn-primary cedars-btn" type="submit">Download</button>
              </form>
            </td>

            <td>
              <form action="/ops/delete_download_file" method="POST" class="form-inline">
                <input type="hidden" name="filename" value="{{ obj[0] }}">
                <button class="btn btn-primary cedars-btn" type="submit">Delete File</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <!-- Add more list items for each available file -->
      </table>
    </div>
    <br>
    <div class="col-md-12">
      <h2>Actions</h2><br>
      <div id="create_download_task">
        <!-- This div will be updated with the download status -->
        <form id="createTaskForm" class="form-inline">
          <button class="btn btn-primary cedars-btn" type="button" onclick="startNewDownload()">Create New Download Task</button>
        </form>
        <br>
        <form id="createTaskFormFull" class="form-inline">
          <button class="btn btn-primary cedars-btn" type="button" onclick="startNewDownloadFull()">Create New Full Download Task</button>
        </form>
        <br>
        <form id="updateResultsCol" class="form-inline"></form>
          <button class="btn btn-primary cedars-btn" type="button" onclick="updateResultsCol()">Update Results Collection</button>
        </form>
      </div>
      <div id="downloadStatus" class="mt-3">
        <!-- This div will be updated with the download status -->
      </div>
    </div>
  </div>
</div>

<style>
  .spinner-border {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-width: .2em;
  }
</style>

<script>
  function checkJobStatus(jobId, job_type) {
    fetch(`/ops/check_job/${jobId}`)
      .then(response => response.json())
      .then(data => {
        if (data.status === 'finished') {
          console.log(job_type);
          if (job_type === 'download_job') {
            // Reload the window to update the files available for download
            window.location.reload();
          }
          else{
              document.getElementById('downloadStatus').innerHTML = `
                <div>Results updated! (You can create download tasks now)</div>
              `;
          }
        } else if (data.status === 'failed') {
          document.getElementById('downloadStatus').innerHTML = `
            <div>Job failed: ${data.error}</div>
          `;
        } else {
          setTimeout(() => checkJobStatus(jobId, job_type), 2000);
        }
      });
  }

  function startNewDownload() {
    fetch('/ops/create_download_task')
      .then(response => response.json())
      .then(data => {
        const jobId = data.job_id;
        checkJobStatus(jobId, 'download_job');
        document.getElementById('downloadStatus').innerHTML = `
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">cedars...</span>
          </div>
          <p>Download initiated, please wait...</p>
        `;
      });
  }

  function startNewDownloadFull() {
    fetch('/ops/create_download_task_full')
      .then(response => response.json())
      .then(data => {
        const jobId = data.job_id;
        checkJobStatus(jobId, 'download_job');
        document.getElementById('downloadStatus').innerHTML = `
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">cedars...</span>
          </div>
          <p>Download initiated, please wait...</p>
        `;
      });
  }

  function updateResultsCol() {
    fetch('/ops/update_results_collection')
      .then(response => response.json())
      .then(data => {
        const jobId = data.job_id;
        checkJobStatus(jobId, 'collection_update_job');
        document.getElementById('downloadStatus').innerHTML = `
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">cedars...</span>
          </div>
          <p>Aggregating results, please wait...</p>
        `;
      });
  }

  document.addEventListener('DOMContentLoaded', function() {
    const jobId = '{{ job_id }}';
    if (jobId != 'None') {
      checkJobStatus(jobId, '');
    }
  });
</script>

{% endblock %}
