{% extends "base.html" %}

{% block title %} CEDARS {% endblock %}

{% block content %}
<div class="w-75 mx-auto">

  <div class="mb-4">
    <h2>Internal Processes</h2>

    <div class="form-group">
        This is the internal processes page which allows administrators to access and run specific technical processes for their CEDARS project.
        <br>
        Additional details on these processes can be found on our <a href="https://cedars.io">documentation page</a>.
    </div>

    <br>
    <br>
    <br>
    <h3>Database Results Update</h3>
    <br>

    <div class="form-group">
        CEDARS stores the results of each project in a mongodb collection named RESULTS.
        When an admin wishes to download a project, this collection is stored in a .csv file in the downloads page (for more information see <a href="https://cedars.io/CEDARS_admin_manual/#dataset-download">downloads</a>).
        <br>
        The button below will refresh the results collection and update all of the values for each patient in the database. You can do this to update / create the collection for a project that started on an older version of CEDARS. This button is also useful in case of sudden crashes or errors as it will fix any data that was not saved / got corrupted in the results collection.
        <br>
        <br>
        <form class="form-inline" method="POST">
            <div class="mb-3">
              <button class="btn btn-primary cedars-btn" type="button" onclick="updateResultsCol()">Update Results Collection</button>
            </div>
        </form>
        <br>
        <div id="downloadStatus" class="mt-3">
            <!-- This div will be updated with the download status -->
        </div>
    </div>


    <h3>RQ Dashboard</h3>
    <br>

    <div class="form-group">
        CEDARS uses a queue-based system to handle computationally expensive tasks, this is implemented using redis and <a href="https://python-rq.org">python-rq</a>.
        <br>
        To allow admins to easily manage and handle these queues, CEDARS includes a GUI using the <a href="https://github.com/Parallels/rq-dashboard">rq-dashboard</a> interface. You can easily access this interface by clicking the button below.
        <br>
        <br>
        <div class="mb-3">
            <form action="{{ rq_dashboard_url }}" class="inline" target="_blank">
                <button type="submit" class="btn btn-primary cedars-btn" type="button">Open RQ-Dashboard</button>
            </form>
        </div>
    </div>
</div>

<style>
    .spinner-border {
      width: 3rem;
      height: 3rem;
      display: inline-block;
      border-width: .2em;
    }
</style>

<script>
    function checkJobStatus(jobId, job_type) {
      fetch(`/ops/check_job/${jobId}`)
        .then(response => response.json())
        .then(data => {
          if (data.status === 'finished') {
            console.log(job_type);
            document.getElementById('downloadStatus').innerHTML = `
                  <div>Results updated successfully! (You can download the new results from the download page.)</div>
                `;
            
          } else if (data.status === 'failed') {
            document.getElementById('downloadStatus').innerHTML = `
              <div>Job failed: ${data.error}</div>
            `;
          } else {
            setTimeout(() => checkJobStatus(jobId, job_type), 2000);
          }
        });
    }
  
    function updateResultsCol() {
      fetch('/ops/update_results_collection')
        .then(response => response.json())
        .then(data => {
          const jobId = data.job_id;
          checkJobStatus(jobId, 'collection_update_job');
          document.getElementById('downloadStatus').innerHTML = `
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">cedars...</span>
            </div>
            <p>Aggregating results, please wait...</p>
          `;
        });
    }
  
    document.addEventListener('DOMContentLoaded', function() {
      const jobId = '{{ job_id }}';
      if (jobId != 'None') {
        checkJobStatus(jobId, '');
      }
    });
  </script>

{% endblock %}

