{% extends "base.html" %}

{% block title %} CEDARS {% endblock %}

{% block content %}
<div class="container-md col-4 b-1">
  <form class="form-inline" method="POST" enctype="multipart/form-data">

    <div class="mb-3">
      <h2>Project Details</h2>
      <div class="mb-4" >
        <label>Project Name</label>
        <input type="text" class="form-control mb-3" name="project_name" value="{{ project_name }}">
        <button type="submit" class="btn btn-primary p-2">Save Changes</button>
      </div>
    </div>
  </form>
</div>


{% endblock %}
