{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}
<div class="w-75 mx-auto">
  <form action="upload_data" class="form-inline" method="POST" enctype="multipart/form-data">

    <div class="mb-4">
      <h2>Data Upload</h2>

      <div class="mb-3">
        <label for="formFile" class="form-label">Upload a file with patient data.</label>
        <input class="form-control" type="file" id="formFile" name = "data_file1">
      </div>

    <br>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button class="btn btn-primary" type="submit" name="submit_button">Upload file</button>
    </div>

  </form>

  <br>
  <br>
  <br>

  <b>
    <label>Note that to upload data, your file must be in one of the following formats :</label>
  </b>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">CSV (.csv)</li>
    <li class="list-group-item">Excel (.xlsx)</li>
    <li class="list-group-item">Json (.json)</li>
    <li class="list-group-item">Parquet (.parquet)</li>
    <li class="list-group-item">Pickle (.pickle or .pkl)</li>
    <li class="list-group-item">XML (.xml)</li>
  </ul>
    
  
</div>


{% if invalid_format is defined %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <div class="modal fade" id="invalidLoginModal" tabindex="-1"aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invalid File Format</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Invalid File Format!
          <br>
          To check for allowed file formats, you may refer to the list below the upload button.
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>
<script>

$(window).on('load', function() {
        $('#invalidLoginModal').modal('show');
    });
</script>

{% endif %}



{% endblock %}
