{% extends "bootstrap.html" %}

{% block container %}

<nav class="navbar navbar-light bg-light mb-5  nav-tabs d-flex">
    <div class="container-fluid">

        <a class="navbar-brand" href="/" style="display: flex; align-items: center; justify-content: center;">
            <img src="{{ url_for('static', filename='project_logo.png') }}" alt="" width="24" height="24"
                 class="d-inline-block align-text-top">
            <h4 style="margin: 5px;">CEDARS</h4>
        </a>
        <div class="fw-bolder" id="proj_name">
                Project: {{ project }}
        </div>


        {% block search_bar %} {% endblock %}

        {% if current_user.is_authenticated %}
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">

                    {{ current_user.username.title() }}

                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/">Homepage</a></li>
                        <li><a class="dropdown-item" href="/stats/">Project Statistics</a></li>

                        {% if current_user.is_admin == true %}
                            <li><a class="dropdown-item" href="/ops/project_details">Project Details</a></li>
                            <li><a class="dropdown-item" href="/auth/register">Add User</a></li>
                            <li><a class="dropdown-item" href="/ops/upload_data">Upload Data</a></li>
                            <li><a class="dropdown-item" href="/ops/upload_query">Search Query</a></li>
                            <li><a class="dropdown-item" href="/ops/download_page">Download Annotations</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="/ops/adjudicate_records">Adjudicate Annotations</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}


    </div>

    <div class="container">
        <!-- Flash messages block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-2" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Rest of your content -->
    </div>
</nav>
    {% block content %} {% endblock %}
<style>

    .search_div {
        width: 55%;
    }
</style>

<!-- Adds global variable TRUSTED_ORIGINS to get postMessages from -->
<script src="{{ url_for('static', filename='trusted_superbio_origins.js') }}"></script>

<!-- Adds and event listener for logout commands -->
<script src="{{ url_for('static', filename='superbio_logout_listener.js') }}"></script>


<footer>
    <div class="p-5"></div>
</footer>

{% endblock %}