{% extends "base.html" %}
{% block content %}
<div class="w-75 mx-auto">

      <div class="mb-4">
        <h2>Welcome to CEDARS!</h2>

        <div class="form-group">
            CEDARS is an open source software designed to aid researchers in quickly finding relevant events and their corresponding dates within large corpuses of medical notes.
        </div>

        <br>
        <br>
        <h3>Background</h3>

        <div class="form-group">
            CEDARS (Clinical Event Detection and Recording System) is a computational paradigm for collection and aggregation of time-to-event data in retrospective clinical studies. Developed out of a practical need for a more efficient way to conduct medical research, it aims to systematize and accelerate the review of electronic health record (EHR) corpora. It accomplishes those goals by deploying natural language processing (NLP) as a tool to assist detection and characterization of clinical events by human abstractors. In its current iteration, CEDARS is available as an open-source python package using a mongodb database. The latest stable package can be downloaded as a docker image from github and the most recent development version can be cloned from out github. Full documentation is available here.
        </div>

        <br>
        <br>
        <h3>Documentation and Code</h3>

        <div class="form-group">
            To get more information about CEDARS or get help regarding it's workings, you can go to the <a href="https://cedars.io">documentation</a>.

            <br>
            <br>

            If you are interested in the project's code or wish to contribute some code yourself, you can visit our <a href="https://github.com/CEDARS-NLP/CEDARS">GitHub page</a>.
        </div>


        <br>
        <br>

        <h5>Starting the Project</h5>
        <label>To get started on your project you may click on the button below.</label>
        <br>
        <br>
        
        {% if current_user.is_authenticated and current_user.is_admin %}
            <a href='/ops/project_details'>
                <button class="btn btn-primary cedarsstyle">Start Project</button>
            </a>
        {% elif current_user.is_authenticated %}
            <a href='/ops/adjudicate_records'>
                <button class="btn btn-primary cedarsstyle">Adjudicate Records</button>
            </a>
        {% else %}
            <a href='/auth/login'>
                <button class="btn btn-primary cedarsstyle">Login</button>
            </a>
        {% endif %}
  </div>

  <script>
    window.addEventListener("message", (event) => {
    const data = JSON.parse(event.data);
    console.log("Received token:", data.access_token);
    
    // Send the token to the backend
    fetch('/auth/token-login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ token: data.access_token , user_id: data.id }),
    })
    .then(response => response.json())
    .then(data => {
      if (data.message) {
        console.log('Login successful:', data.message);
        // Redirect to the main page or update UI as needed
        window.location.href = '/';
        var res = {"status": "success"}
        window.parent.postMessage(res, "*");
      } else {
        console.error('Login failed:', data.error);
        var res = {"status": "fail"}
        window.parent.postMessage(res, "*");
        // Handle login failure (e.g., show an error message)
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
  </script>

{% endblock %}
