{% extends "base.html" %}


{% block title %}CEDARS {% endblock %}

{% block content %}


<div class="w-75 mx-auto">

      <div class="mb-4">
        <h2>Welcome to CEDARS!</h2>

        <div class="form-group">
            CEDARS is an open source software designed to aid researchers in quickly finding relevant events and their corresponding dates within large corpuses of medical notes.
        </div>

        <br>
        <br>
        <h3>Background</h3>

        <div class="form-group">
            CEDARS (Clinical Event Detection and Recording System) is a computational paradigm for collection and aggregation of time-to-event data in retrospective clinical studies. Developed out of a practical need for a more efficient way to conduct medical research, it aims to systematize and accelerate the review of electronic health record (EHR) corpora. It accomplishes those goals by deploying natural language processing (NLP) as a tool to assist detection and characterization of clinical events by human abstractors. In its current iteration, CEDARS is available as an open-source python package using a mongodb database. The latest stable package can be downloaded as a docker image from github and the most recent development version can be cloned from out github. Full documentation is available here.
        </div>

        <br>
        <br>
        <h3>Documentation and Code</h3>

        <div class="form-group">
            To get more information about CEDARS or get help regarding it's workings, you can go to the <a href="https://cedars.io">documentation</a>.

            <br>
            <br>

            If you are interested in the project's code or wish to contribute some code yourself, you can visit our <a href="https://github.com/CEDARS-NLP/CEDARS">GitHub page</a>.
        </div>


        <br>
        <br>

        <h5>Starting the Project</h5>
        <label>To get started on your project you may click on the button below.</label>
        <br>
        <br>
        
        {% if current_user.is_admin == true %}
            <div class="form-group">
                <label>Project Name</label>
                <input type="text" class="form-control" name="project_name" value="{{ project_name }}">
            </div>
            </br>
            <!-- <a href='/ops/project_details'>
                <button class="btn btn-primary cedarsstyle">Start Project</button>
            </a> -->
            <a href='/ops/upload_data'>
                <button class="btn btn-primary cedarsstyle">Upload Data</button>
            </a>
            <a href='/ops/upload_query'>
                <button class="btn btn-primary cedarsstyle">Search Query</button>
            </a>
            <a href='/ops/download_annotations'>
                <button class="btn btn-primary cedarsstyle">Download Data</button>
            </a>
            <a href='/stats'>
                <button class="btn btn-primary cedarsstyle">Project Stats</button>
            </a>
            <a href='/auth/register'>
                <button class="btn btn-primary cedarsstyle">Add Users</button>
            </a>
            <a href='/ops/adjudicate_records'>
                <button class="btn btn-primary cedarsstyle">Adjudicate Records</button>
            </a>
        {% else %}
            <a href='/stats'>
                <button class="btn btn-primary cedarsstyle">Project Stats</button>
            </a>
            <a href='/ops/adjudicate_records'>
                <button class="btn btn-primary cedarsstyle">Adjudicate Records</button>
            </a>
        {% endif %}
  </div>


{% endblock %}
