{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}

<div class="container-fluid mb-5">
<div class="row g-5 p-2">
  <h3>Project Progress</h3>
  <div class="col-4">
    <table class="table table-sm">
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Total Patients</td>
        <td>{{ number_of_patients }}</td>
      </tr>
      <tr>
        <td>Reviewed Patients</td>
        <td>{{ number_of_reviewed }}</td>
      </tr>
      <tr>
        <td>Unreviewed Patients</td>
        <td>{{ number_of_annotated_patients - number_of_reviewed }}</td>
      </tr>
    </table>
  </div>
  <div class="col-4">
    <canvas id="ProjectProgress"></canvas>
  </div>
</div>
<div class="row g-5 p-2">
  <h3>NLP Metrics</h3>
  <div class="col-6">
    <canvas id="Lemma"></canvas>
  </div>
  <div class="col-6">
    <canvas id="UserReviewStats"></canvas>
  </div>
</div>
</div>
</div>

<script>
  const ctx = document.getElementById('ProjectProgress');
  const ctx_lemma = document.getElementById('Lemma');
  const ctx_user_review_stats = document.getElementById('UserReviewStats');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Patients Not in Annotations', 'Reviewed Patients', 'Unreviewed Patients'],
      datasets: [{
        label: 'Progress',
        data: [{{ number_of_patients }} - {{ number_of_annotated_patients }},
        {{ number_of_reviewed }},
        {{ number_of_annotated_patients }} - {{ number_of_reviewed }}],
        backgroundColor: [
          'rgba(11,61,92, 1.0)',
          'rgba(217,180,15, 1.0)',
          'rgba(255,0,0,1.0)'
        ],
        hoverOffset: 4
      }
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Project Progress'
        }
      }
    }
  });

  const lemmaDistData = {{ lemma_dist | tojson }};
  const labels = Object.keys(lemmaDistData);
  const barHeights = Object.values(lemmaDistData);

  new Chart(ctx_lemma, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Lemma Distribution',
        data: barHeights,
        backgroundColor: 'rgba(11,61,92, 0.6)',
        borderColor: 'rgba(11,61,92, 1)',
        borderWidth: 1
      }]
    },
    options: {
      indexAxis: 'y', // Horizontal bar chart
      scales: {
        x: { // Define x axis
          title: {
            display: true,
            text: '% of all matched tokens'
          }
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const userReviewStat = {{ user_review_stats | tojson }};
  const users = Object.keys(userReviewStat);
  const userReviewedCount = Object.values(userReviewStat);

  new Chart(ctx_user_review_stats, {
    type: 'bar',
    data: {
      labels: users,
      datasets: [{
        label: 'Patients Reviewed by Users',
        data: userReviewedCount,
        backgroundColor: 'rgba(11,61,92, 0.6)',
        borderColor: 'rgba(11,61,92, 1)',
        borderWidth: 1
      }]
    },
    options: {
      indexAxis: 'y', // Horizontal bar chart
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
