{% extends "base.html" %}

{% block title %}CEDARS {% endblock %}

{% block content %}

<div class="container-fluid mb-5">
<div class="row g-5 p-2">
  <h3>Annotation Progress</h3>
  <div class="col-4">
    <table class="table table-sm">
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Total Notes</td>
        <td>{{ number_of_notes }}</td>
      </tr>
      <tr>
        <td>Reviewed Notes</td>
        <td>{{ number_of_reviewed_notes }}</td>
      </tr>
      <tr>
        <td>Total Patients</td>
        <td>{{ number_of_patients }}</td>
      </tr>
      <tr>
        <td>Reviewed Patients</td>
        <td>{{ number_of_reviewed }}</td>
      </tr>
      <tr>
        <td>Unreviewed Patients</td>
        <td>{{ number_of_patients - number_of_reviewed }}</td>
      </tr>
    </table>
  </div>
  <div class="col-4">
    <canvas id="ProjectProgress"></canvas>
  </div>
</div>
<div class="row g-5 p-2">
  <h3>NLP Metrics</h3>
  <div class="col-6">
    <canvas id="Lemma"></canvas>
  </div>
  <div class="col-6">
    <canvas id="UserReviewStats"></canvas>
  </div>
</div>
<div class="row g-5 p-2">
  <h3>NLP Processing Stats</h3>
  <p class="text-muted">One task is created per patient</p>
  <!--Add RQ status-->
  <div class="col-6">
    <div class="progress">
      <div id="queue-progress" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ number_of_patients }}">Queue: 0</div>
    </div>
    <div class="progress mt-2">
      <div id="failed-progress" class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ number_of_patients }}">Failed: 0</div>
    </div>
    <div class="progress mt-2">
      <div id="success-progress" class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ number_of_patients }}">Success: 0</div>
    </div>
  </div>
</div>
</div>
</div>

<script>
  function fetchQueueStats() {
    fetch('/ops/queue_stats')
      .then(response => response.json())
      .then(data => {
        const maxVal = {{ number_of_patients }};
        
        // Update the queue progress bar
        const queueProgress = document.getElementById('queue-progress');
        const queuePercentage = (data.queue_length / maxVal) * 100;
        queueProgress.style.width = `${queuePercentage}%`;
        queueProgress.setAttribute('aria-valuenow', data.queue_length);
        queueProgress.textContent = `Queue: ${data.queue_length}`;

        // Update the failed jobs progress bar
        const failedProgress = document.getElementById('failed-progress');
        const failedPercentage = (data.failed_jobs / maxVal) * 100;
        failedProgress.style.width = `${failedPercentage}%`;
        failedProgress.setAttribute('aria-valuenow', data.failed_jobs);
        failedProgress.textContent = `Failed: ${data.failed_jobs}`;

        // Update the successful jobs progress bar
        const successProgress = document.getElementById('success-progress');
        const successPercentage = (data.successful_jobs / maxVal) * 100;
        successProgress.style.width = `${successPercentage}%`;
        successProgress.setAttribute('aria-valuenow', data.successful_jobs);
        successProgress.textContent = `Success: ${data.successful_jobs}`;
      });
  }

  document.addEventListener('DOMContentLoaded', function() {
    // Fetch queue stats immediately on page load
    fetchQueueStats();

    // Set up periodic fetch every 5 seconds
    setInterval(fetchQueueStats, 5000);
  });

  const ctx = document.getElementById('ProjectProgress');
  const ctx_lemma = document.getElementById('Lemma');
  const ctx_user_review_stats = document.getElementById('UserReviewStats');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [
        // 'Patients Not in Annotations',
        'Reviewed Patients',
        'Unreviewed Patients'],
      datasets: [{
        label: 'Progress',
        data: [
          // {{ number_of_patients }} - {{ number_of_annotated_patients }},
          {{ number_of_reviewed }},
          {{ number_of_patients }} - {{ number_of_reviewed }}
        ],
        backgroundColor: [
          // 'rgba(11,61,92, 1.0)',
          'rgba(217,180,15, 1.0)',
          'rgba(255,0,0,1.0)'
        ],
        hoverOffset: 4
      }
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Project Progress'
        }
      }
    }
  });

  const lemmaDistData = {{ lemma_dist | tojson }};
  const labels = Object.keys(lemmaDistData);
  const barHeights = Object.values(lemmaDistData);

  new Chart(ctx_lemma, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Lemma Distribution',
        data: barHeights,
        backgroundColor: 'rgba(11,61,92, 0.6)',
        borderColor: 'rgba(11,61,92, 1)',
        borderWidth: 1
      }]
    },
    plugins: [ChartDataLabels],
    options: {
      indexAxis: 'y', // Horizontal bar chart
      scales: {
        x: { // Define x axis
          title: {
            display: true,
            text: '% of all matched tokens'
          }
        },
        y: {
          beginAtZero: true
        }
      },
      plugins: {
            datalabels: {
                anchor: 'end', // Position of the labels (start, end, center, etc.)
                align: 'end', // Alignment of the labels (start, end, center, etc.)
                color: 'rgba(11,61,92, 0.6)', // Color of the labels
                clamp: false,
                font: {
                    weight: 'bold',
                },
                formatter: function (value, context) {
                    return ' ' + parseFloat(value).toFixed(2);
                }
            }
        }
    }
  });

  const userReviewStat = {{ user_review_stats | tojson }};
  const users = Object.keys(userReviewStat);
  const userReviewedCount = Object.values(userReviewStat);

  new Chart(ctx_user_review_stats, {
    type: 'bar',
    data: {
      labels: users,
      datasets: [{
        label: 'Patients Reviewed by Users',
        data: userReviewedCount,
        backgroundColor: 'rgba(11,61,92, 0.6)',
        borderColor: 'rgba(11,61,92, 1)',
        borderWidth: 1
      }]
    },
    plugins: [ChartDataLabels],
    options: {
      indexAxis: 'y', // Horizontal bar chart
      scales: {
        y: {
          beginAtZero: true
        }
      },

      plugins: {
            datalabels: {
                anchor: 'end', // Position of the labels (start, end, center, etc.)
                align: 'end', // Alignment of the labels (start, end, center, etc.)
                color: 'rgba(11,61,92, 0.6)', // Color of the labels
                clamp: false,
                font: {
                    weight: 'bold',
                },
                formatter: function (value, context) {
                  return ' ' + parseFloat(value).toFixed(2);
                }
            }
        }
    }
  });
</script>
{% endblock %}
